<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="./">ふぉと俳句の杜らりぃ</a>
  </div>
  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li id="top"><a href="./">トップ</a></li>
      <li id="special"><a href="http://itami-aeonmall.com/photohaiku/">実施概要</a></li>
      <li id="qa"><a href="./qa.php">よくあるお問い合わせQ&amp;A</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="">お問い合わせ</a></li>
    </ul>
  </div>
</nav>
